{
    "tumblr": {
        "domain": "example.tumblr.com",
        "oauth": {
          "consumerKey": "",
          "consumerSecret": "",
          "accessToken": "",
          "accessSecret": ""
        }
    }
}
